<div>
    <!--Banderole supérieure-->
    <div class="banner">
        <h1>Bienvenue sur notre page d'accueil Shopinsid</h1>
        <p>C'est un exemple de page d'accueil basique en utilisant Angular.</p>
        <!--Boutons "inscription & connexion"-->
        <div class="buttons">
            <button class="btn" (click)="redirectToPage('inscription')">S'inscrire</button>
            <button class="btn" (click)="redirectToPage('connexion')">Se connecter</button>
        </div>
    </div>
</div>
