.banner {
  background-color: blue;
  padding: 20px;
  text-align: center;
}

h1, p {
  color: white;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color: rgb(255,255,255);
  color: rgb(6, 6, 241);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;

}

.btn:hover {
  background-color: lightblue;
}